*.o
*.so
.svn/
*/.svn/
*.pyc
*~
*.user
*.user.*
.idea
python/lib64
/libenkf/src/.faultlist
/develbranch/libenkf/src/.faultlist
/build
/libert_util/tests/data/latex_OK.pdf
/test-data/Statoil
/python/python/ert/ecl/ecl_local.py
/GPATH
/GRTAGS
/GTAGS
/gtags.sh
/cmake.sh
scratch.sparsebundle
*.iml
*.DS_Store
__ecl_lib_path.py
__ecl_lib_info.py


CMakeFiles/
CTestTestfile.cmake
Makefile
applications/CMakeFiles/
applications/CTestTestfile.cmake
applications/Makefile
applications/cmake_install.cmake
bin/CMakeFiles/
bin/CTestTestfile.cmake
bin/Makefile
bin/cmake_install.cmake
bin/ecl_alloc_cpgrid
bin/ecl_alloc_grid_dxv_dyv_dzv
bin/ecl_fault_block_layer
bin/ecl_file
bin/ecl_file_view
bin/ecl_get_num_cpu
bin/ecl_grid_DEPTHZ
bin/ecl_grid_add_nnc
bin/ecl_grid_cell_contains
bin/ecl_grid_copy
bin/ecl_grid_corner
bin/ecl_grid_create
bin/ecl_grid_export
bin/ecl_grid_init_fwrite
bin/ecl_grid_reset_actnum
bin/ecl_init_file
bin/ecl_kw_cmp_string
bin/ecl_kw_equal
bin/ecl_kw_fread
bin/ecl_kw_grdecl
bin/ecl_kw_init
bin/ecl_layer
bin/ecl_nnc_geometry
bin/ecl_nnc_info_test
bin/ecl_nnc_pair
bin/ecl_nnc_vector
bin/ecl_rft_cell
bin/ecl_rst_file
bin/ecl_smspec_node
bin/ecl_sum_alloc_resampled_test
bin/ecl_sum_writer
bin/ecl_util_filenames
bin/ecl_util_make_date_no_shift
bin/ecl_util_month_range
bin/ecl_util_path_access
bin/ecl_valid_basename
bin/eclxx_filename
bin/eclxx_fortio
bin/eclxx_kw
bin/eclxx_smspec
bin/eclxx_types
bin/ert_util_abort_gnu_tests
bin/ert_util_addr2line
bin/ert_util_alloc_file_components
bin/ert_util_approx_equal
bin/ert_util_arg_pack
bin/ert_util_before_after
bin/ert_util_binary_split
bin/ert_util_buffer
bin/ert_util_chdir
bin/ert_util_clamp
bin/ert_util_copy_file
bin/ert_util_cwd_test
bin/ert_util_datetime
bin/ert_util_file_readable
bin/ert_util_filename
bin/ert_util_hash_test
bin/ert_util_normal_path
bin/ert_util_parent_path
bin/ert_util_path_stack_test
bin/ert_util_realpath
bin/ert_util_relpath_test
bin/ert_util_rng
bin/ert_util_spawn
bin/ert_util_sprintf_escape
bin/ert_util_sscan_test
bin/ert_util_statistics
bin/ert_util_strcat_test
bin/ert_util_string_util
bin/ert_util_stringlist_test
bin/ert_util_strstr_int_format
bin/ert_util_struct_vector
bin/ert_util_test_area_xx
bin/ert_util_time_interval
bin/ert_util_type_vector_functions
bin/ert_util_type_vector_test
bin/ert_util_unique_ptr
bin/ert_util_vector_test
bin/ert_util_work_area
bin/geo_polygon
bin/geo_polygon_collection
bin/geo_util_xlines
bin/test_ecl_file_index
bin/test_ecl_nnc_data
bin/test_transactions
bin/well_branch_collection
bin/well_conn
bin/well_conn_collection
bin/well_segment
bin/well_segment_collection
bin/well_segment_conn
bin/well_state
cmake_install.cmake
eclConfig.cmake
lib/CMakeFiles/
lib/CTestTestfile.cmake
lib/Makefile
lib/bool_vector.c
lib/cmake_install.cmake
lib/double_vector.c
lib/float_vector.c
lib/include/ert/util/bool_vector.h
lib/include/ert/util/build_config.h
lib/include/ert/util/double_vector.h
lib/include/ert/util/ert_api_config.h
lib/include/ert/util/float_vector.h
lib/include/ert/util/int_vector.h
lib/include/ert/util/long_vector.h
lib/include/ert/util/size_t_vector.h
lib/include/ert/util/time_t_vector.h
lib/int_vector.c
lib/libecl.so.2
lib/libecl.so.2.3
lib/long_vector.c
lib/size_t_vector.c
lib/time_t_vector.c

nothing added to commit but untracked files present (use "git add" to track)
